<div class="mb-4">
  <h2 class="mb-4 text-center text-success">Sign In</h2>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      type="email"
      class="form-control bg-body-secondary"
      placeholder="E-mail"
      formControlName="email"
      autocomplete="email"
    />

    <div class="invalid-feedback" *ngIf="hasDisplayableError('email')">
      Please enter your E-mail address.
    </div>
  </div>
  <div class="mb-3 input-group">
    <input
      [type]="showPassword ? 'text' : 'password'"
      class="form-control bg-body-secondary"
      placeholder="Password"
      formControlName="password"
      autocomplete="new-password"
    />
    <button
      class="btn btn-outline-secondary rounded-end-3 border"
      type="button"
      (click)="togglePasswordVisibility()"
    >
      <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
    </button>

    <div class="invalid-feedback" *ngIf="hasDisplayableError('password')">
      Please enter your Password.
    </div>
  </div>

  <div class="mb-3">
    <button
      type="submit"
      class="btn btn-success w-100 rounded-3 py-2"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </div>
  <!-- Sign up Link -->
  <div class="text-center text-muted">
    Don't have an account?
    <a routerLink="/signup" class="text-success text-decoration-none"
      >Sign up</a
    >
  </div>
</form>
