<div class="container-fluid">
  <div class="row min-vh-100 justify-content-center align-items-center p-3">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xxl-5">
      <div
        class="row rounded-4 shadow-lg overflow-hidden bg-white"
        style="min-height: 450px"
      >
        <div
          class="col-md-5 d-none d-md-flex align-items-center justify-content-center bg-success bg-gradient"
        >
          <div class="text-center w-100 px-3">
            <img
              style="width: min(210px, 100%)"
              class="mb-4"
              src="Logo.png"
              alt="Rest Logo"
            />
          </div>
        </div>
        <div class="col-md-7 p-3 p-sm-4 p-md-3 d-flex align-items-center">
          <div class="w-100" [@routerFadeIn]="getRouteUrl()">
            <div class="text-center mb-4 d-md-none">
              <img style="width: 200px" src="Logo.png" alt="Rest Logo" />
            </div>
            <router-outlet />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
