<div class="modal-header">
  <h5 class="modal-title">
    View Details for <strong>{{ user.fullName }}</strong>
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <p><i class="fas fa-envelope me-2"></i> {{ user.email }}</p>
  <p><i class="fas fa-phone me-2"></i> {{ user.phoneNumber }}</p>
  <p><i class="fas fa-calendar me-2"></i> Joined at: {{ user.joinDate | date }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">Close</button>
</div>