*:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.text-success {
  color: var(--main-color) !important;
}

.btn-success {
  background-color: var(--main-color);

  &:hover {
    background-color: var(--main-hover);
  }
}

.search {
  height: auto;
}

.row .column {
  min-width: 290px;
}

.profile-card {
  position: relative;
  background: white;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 415px;

  .active-badge {
    top: 10px;
    left: 10px;
    z-index: 9999;
    padding: 2px;
    background-color: var(--badge-background);
    color: #232323;
    border-radius: 15px;
    width: 80px;
    font-size: 0.9rem;

    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 7px;
      width: 7px;
      height: 7px;
      background-color: var(--main-color);
      border-radius: 50%;
    }
  }

  .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;

    button {
      padding: 8px 10px;
      font-size: 0.9rem;
      border-radius: 50%;
      background-color: #ff4d4d;
      color: white;

      &:hover {
        background-color: #e60000;
      }
    }
  }
}

.profile-card .background-block {
  float: left;
  width: 100%;
  height: 175px;
  overflow: hidden;
}

.profile-card .background-block .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}

.profile-card .card-content {
  width: 100%;
  padding: 30px 25px;
  color: #232323;
  height: 50%;
  position: relative;
  z-index: 9999;

  &::before {
    content: "";
    background: white;
    width: 120%;
    height: 100%;
    left: -10px;
    bottom: 54px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
  }

  .badge {
    background-color: var(--badge-background);
    color: #232323;
  }
}

.profile-card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 99999;
}

.profile-card h2 {
  margin: 10px 0 5px;
  font-weight: 600;
  font-size: 20px;
}

.profile-card .info {
  background-color: var(--badge-background);
  border: none;
  border-radius: 10px;

  .content div {
    p.background {
      background-color: white;
      border-radius: 6px;
      padding: 0 5px;
    }
  }
}

/* ==============================
  Footer
============================== */
.profile-card-footer {
  margin-top: 5px;

  .footer-text {
    font-size: 0.9rem;
  }
}

.profile-card .footer-icon {
  cursor: pointer;
  position: relative;
  a::after {
    position: absolute;
    content: "";
    width: 33px;
    height: 2px;
    left: 0px;
    bottom: 3px;
    background-color: var(--main-color);
  }
}

.profile-card .footer-icon:hover i {
  animation: moveRight 0.75s ease-in-out infinite;
}

.input-group .btn {
  line-height: inherit;
}

/* ==============================
  Animations
============================== */
@keyframes moveRight {
  to {
    transform: translateX(2px);
  }
}
