<section [ngClass]="getBodyClass()">
  <div class="container mt-4">
    <div
      class="d-flex flex-column flex-md-row mb-4 justify-content-between align-items-stretch gap-3"
    >
      <!-- Search Box -->
      <div
        class="input-group gap-2 flex-column flex-md-row rounded justify-content-center align-items-center flex-grow-1"
      >
        <input
          type="search"
          name="search"
          class="form-control rounded search w-100"
          placeholder="Search"
          [(ngModel)]="searchTerm"
          (keyup.enter)="applyFilter()"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <div class="btns d-flex gap-1">
          <button
            type="button"
            class="btn btn-success"
            mdbTooltip="Search for User"
            (click)="applyFilter()"
          >
            <i class="fas fa-search"></i>
          </button>
          <button
            type="button"
            class="btn btn-success"
            mdbTooltip="Reset"
            (click)="reset()"
          >
            <i class="fas fa-refresh"></i>
          </button>
        </div>
      </div>
      <!-- Filter by Role -->
      <div class="filter d-flex flex-column flex-md-row gap-2">
        <select
          class="form-select"
          [(ngModel)]="selectedRole"
          (change)="applyFilter()"
          aria-label="Filter by Role"
        >
          <option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </option>
        </select>
      </div>

      <!-- Add Button -->
      <div class="add text-center flex-shrink-0">
        <button
          type="button"
          class="btn btn-success w-100 d-flex align-items-center justify-content-center"
          mdbTooltip="Add User"
        >
          <i class="fas fa-plus"></i> Add User
        </button>
      </div>
    </div>
    <!-- Loading Indicator -->
    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="!isLoading">
      <div
        class="row justify-content-center"
        *ngIf="filteredUsers.length > 0; else noUsers"
      >
        <div
          class="col-md-4 column mb-4"
          *ngFor="let user of filteredUsers; let i = index"
        >
          <div class="card profile-card">
            <div class="background-block">
              <img
                src="/background.jpg"
                alt="profile-sample1"
                class="background"
              />
            </div>
            <!-- Active badge -->
            <div class="active-badge position-absolute">
              {{ user.isActive ? "Active" : "Inactive" }}
            </div>
            <div class="delete">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="deleteUser(user.id)"
                mdbTooltip="Delete User"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
            <div class="profile-thumb-block">
              <img
                [src]="user.profileImageUrl"
                alt="profile-image"
                class="profile"
              />
            </div>
            <div class="card-content">
              <h2>{{ user.fullName }}</h2>
              <div class="mb-2">
                <span class="badge me-1" *ngFor="let role of user.roles">
                  {{ role }}
                </span>
              </div>
              <!-- <div class="btns-block d-flex justify-content-center gap-2">
                <button
                  type="button"
                  class="btn btn-outline-success d-flex justify-content-center align-items-center gap-1"
                  (click)="openModal()"
                >
                  <i class="fas fa-eye d-none d-xl-inline-block"></i>
                  <span>View</span>
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm d-flex justify-content-center align-items-center gap-1"
                  (click)="deleteUser(user.id)"
                >
                  <i class="fas fa-trash-alt d-none d-xl-inline-block"></i>
                  <span>Delete</span>
                </button>
              </div> -->
              <div class="info p-2 mt-2">
                <div class="content">
                  <div class="d-flex align-items-center">
                    <i class="fas fa-hashtag me-2"></i>
                    <p class="mb-1">{{ i + 1 }}</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-envelope me-2"></i>
                    <p class="mb-1 background">{{ user.email }}</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <i class="fas fa-phone me-2"></i>
                    <p class="mb-1 background">{{ user.phoneNumber }}</p>
                  </div>
                </div>
              </div>
              <div
                class="profile-card-footer d-flex justify-content-between align-items-center gap-1"
              >
                <p class="mb-0 footer-text">
                  <span class="text-muted">Joined at </span>
                  {{ user.joinDate | date }}
                </p>
                <div
                  class="d-flex footer-icon align-items-center"
                  mdbTooltip="View User Details"
                >
                  <a
                    class="footer-text text-black text-decoration-none"
                    (click)="openModal(user.id)"
                  >
                    View
                  </a>
                  <i class="fas fa-angle-right text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noUsers>
    <div class="alert alert-info text-center">No users found</div>
  </ng-template>
</section>
