:root {
  --main-color: #028052;
  --main-hover: #2c9a71;
  --badge-background: #f2f7fa;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

.text-success {
  color: var(--main-color) !important;
}

.btn-success {
  background-color: var(--main-color);

  &:hover {
    background-color: var(--main-hover);
  }
}

.bg-success {
  background-color: var(--main-color) !important;
}
